# Environment configuration example for local execution

# Set this to the absolute path of your Google Drive or local data directory
# DRIVE_ROOT=G:/My Drive
# DRIVE_ROOT=/Users/name/Library/CloudStorage/GoogleDrive-user@gmail.com/My Drive
# DRIVE_ROOT=/home/machine/gdrive
